div {
    
    color: black;
    background-color: black;
}

h1 {
    
    color: black;
    background-color: black;
}

h2 {
    
    color: black;
    background-color: black;
}

h3 {
    
    color: black;
    background-color: black;
}

p {
    
    color: black;
    background-color: black;
}